*.mat
!behavior_data.mat
*.npy
*.npz
*.ckpt
*.h5
checkpoints/
models/
*.tar
*.tar.gz
*.zip
*.dmg
*.mp4
*.egg
*.so
__pycache__/
*.pyc
.idea/
*.iml
.env/
.venv/
venv/
.ipynb_checkpoints/
*.log
*.tmp
*.bak
*.swp
*.out
.DS_Store
Thumbs.db
